!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Reveal.js
    %meta{:content => "A framework for easily creating beautiful presentations using HTML", :name => "description"}/
    %meta{:content => "Hakim El Hattab", :name => "author"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui", :name => "viewport"}/
    %link{:href => "./css/reveal.css", :rel => "stylesheet"}/
    %link#theme{:href => "./css/theme/black.css", :rel => "stylesheet"}/
    / Code syntax highlighting
    %link{:href => "./lib/css/zenburn.css", :rel => "stylesheet"}/
    / Printing and PDF exports
    :javascript
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? './css/print/pdf.css' : './css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    /[if lt IE 9]
      <script src="lib/js/html5shiv.js"></script>
  %body
    .reveal
      / Any section element inside of this container is displayed as a slide
      .slides
        %section
          %section
            %h1{:style=> "text-align: center; color: white;"} REVEAL.JS
            %br
            %p{:style => "text-align: left; font-size: 30px; line-height: 20px;"} Team Members: 林良憲、郭至煜、謝佳恩
            %p{:style => "text-align: left; font-size: 30px; line-height: 20px;"} Adviser: 林楚迪
            %p{:style => "text-align: left; font-size: 30px; line-height: 20px;"} Data: 2016/01/06
          %section
            %h2{:style=> "color: orange;"} 
              introduction
            %ol
              %li 
                Html + CSS + reveal.js Relations
              %li 
                Html
              %li
                Haml
              %li 
                Reveal.js
              %li 
                Github.io
              %li 
                Faced Problem 
            
        %section
          %section
            %h2 Html + CSS + Reveal.js 
            %h2 Relations
          %section
            %img{"data-src"=> "./pic/Relation.PNG"}
        %section
          %section
            %h1 Html
          %section
            %h1 基礎語法
            %table
              %thead
                %tr
                  %th Syntax
                  %th Purpose
              %tbody
                %tr 
                  %td &#060; h1 &#062;...&#060; /h1 &#062;
                  %td 標題
                %tr
                  %td &#060; p &#062;...&#060; /p &#062;
                  %td 一行
                %tr
                  %td &#060; span &#062;
                  %td 不換行
                %tr
                  %td &#060; ol &#062;...&#060; /ol &#062;
                  %td 有數字的list
                %tr
                  %td &#060; ul &#062;...&#060; /ul &#062;
                  %td 無數字的list
                %tr
                  %td &#060; li &#062;...&#060; /li &#062;
                  %td list中的選項
                %tr
                  %td &#060; a &#062;...&#060; /a &#062;
                  %td list中的選項
          %section
            %h1 基礎語法
            %table
              %thead
                %tr
                  %th Syntax
                  %th Purpose
              %tbody
                %tr
                  %td &#060; section &#062;
                  %td 每一頁面(or章節)
                %tr
                  %td &#060; section &#062; &#060; section &#062;
                  %td 垂直分頁
                %tr
                  %td &#060; img &#062;
                  %td 插入圖片, 後接url
                %tr
                  %td &#060; a &#062;
                  %td 超連結, 後接url
          %section
            %h1 進階語法
            %table
              %thead
                %tr
                  %th Syntax
                  %th Purpose
              %tbody
                %tr
                  %td &#060; table &#062;
                  %td 製作表格
                %tr
                  %td &#060; thead &#062;
                  %td 表格內的所有標頭
                %tr
                  %td &#060; th &#062;
                  %td 每一個標頭
                %tr
                  %td &#060; tbody &#062;
                  %td 表格內所有內容
                %tr
                  %td &#060; tr &#062;
                  %td 以橫列顯示表格內容
                %tr
                  %td &#060; td &#062;
                  %td 每一格的內容

        %section
          %section 
            %h1 haml
          %section
            %h2{:style=> "color: orange;"} haml
            %ul{:style=> "text-align: left;"}
              %li 
                以Ruby環境寫出
              %li 
                快速編寫html(縮排、%)
          %section
            %p{:style=> "color: orange; font-size: 48px;"} Demo code
            %div{:style=>"float: left; width: 45%;"}
              %pre
                %code
                  =preserve do
                    :escaped
                      %h1 進階語法
                      %table
                        %thead
                          %tr
                            %th Syntax
                            %th Purpose
                        %tbody
                          %tr
                            %td &#060; section &#062;
                            %td 每一頁面(or章節)
                          %tr
                            %td &#060; table &#062;
                            %td 製作表格
                          %tr
                            %td &#060; thead &#062;
                            %td 表格內的所有標頭
                          %tr
                            %td &#060; th &#062;
                            %td 每一個標頭
                          %tr
                            %td &#060; tbody &#062;
                            %td 表格內所有內容
                          %tr
                            %td &#060; tr &#062;
                            %td 以橫列顯示表格內容
                          %tr
                            %td &#060; td &#062;
                            %td 每一格的內容   
            %div{:style=>"float: right; width: 55%;"}
              %pre
                %code
                  =preserve do
                    :escaped
                      <h1>進階語法</h1>
                      <table>
                        <thead>
                          <tr>
                            <th>Syntax</th>
                            <th>Purpose</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>&#060; section &#062;</td>
                            <td>每一頁面(or章節)</td>
                          </tr>
                          <tr>
                            <td>&#060; table &#062;</td>
                            <td>製作表格</td>
                          </tr>
                          <tr>
                            <td>&#060; thead &#062;</td>
                            <td>表格內的所有標頭</td>
                          </tr>
                          <tr>
                            <td>&#060; th &#062;</td>
                            <td>每一個標頭</td>
                          </tr>
                          <tr>
                            <td>&#060; tbody &#062;</td>
                            <td>表格內所有內容</td>
                          </tr>
                          <tr>
                            <td>&#060; tr &#062;</td>
                            <td>以橫列顯示表格內容</td>
                          </tr>
                          <tr>
                            <td>&#060; td &#062;</td>
                            <td>每一格的內容</td>
                          </tr>
                        </tbody>
                      </table>
          %section
            %h2{:style=> "color: orange;"} How to install haml
          %section
            %ul{:style=> "text-align: left;"}
              %li
                因為haml是以Ruby的環境寫成
              %li
                所以我們得先下載Ruby
              %li
                選擇一個適合自己電腦的ruby檔案
              %img{"data-src"=> "./pic/1.PNG"}
          %section
            %ul{:style=> "text-align: left;"}
              %li
                開啟cmd確認ruby是否有安裝成功
              %img{"data-src"=> "./pic/2.PNG"}
          %section
            %ul{:style=> "text-align: left;"}
              %li
                再確認是否有gem
              %img{"data-src"=> "./pic/3.PNG"}
              %p{:style=> "color: orange;"}
                gem是ruby的第三方套件管理程式，類似於Centos環境中的yum、Ubuntu的apt-get、Python的pip
          %section
            %h4 接下來找個自己喜歡的文字編輯器
            %h4 就可以開始寫haml囉
          %section
            %ul{:style=> "text-align: left;"}
              %li
                因為網頁都是以html呈現
              %li
                所以我們需要先把haml轉檔成html
          %section
            %ul{:style=> "text-align: left;"}
              %li
                開啟cmd
              %li
                鍵入 haml index.haml index.html    (index為檔案名稱)
            %img{"data-src"=> "./pic/4.PNG"}
          %section
            %ul{:style=> "text-align: left;"}
              %li
                接下來在你的資料夾裡會有兩種檔案
              %ol
                %li{:style=> "color: orange;"} index.haml
                %li{:style=> "color: orange;"} index.html
              %img{"data-src"=> "./pic/5.PNG"}
          %section
            %ul{:style=> "text-align: left;"}
              %li 
                雙擊index.html，就可以進入簡報囉>.0
              %img{"data-src"=> "./pic/6.PNG"}

        %section
          %section
            %h1 reveal.js
          %section
            %h2{:style=> "color: orange;"} reveal.js
            %ul
              %li 
                It's open source
              %li 
                提供比ppt更具架構化的捲動方式
              %li
                講者可以更節省時間的在投影片上顯示出編排的很漂亮的程式片段
              %li
                就是用Html來做網頁式的簡報!
          %section
            %p{:style=> "color: orange; font-size: 48px;"} Now, Let's view the effect of reveal.js
          %section
            %h1{:style=> "color: orange;"} Down
            %p{:style=> "font-size: 48px;"} 垂直向的下一頁
            %img{"data-src"=>"./pic/arrowdown.png"}
          %section
            %h1{:style=> "color: orange;"} Up
            %p{:style=> "font-size: 48px;"} 垂直向的上一頁
            %img{"data-src"=>"./pic/arrowup.png"}
          %section
            %h1{:style=> "color: orange;"} left / right
            %p
              %span{:style=> "font-size: 48px;"} 翻至左/右行
              %span{:style=> "color: red; font-size: 48px;"} 最近一次
              %span{:style=> "font-size: 48px;"} 瀏覽的頁面
            %p
              %span{:style=> "font-size: 48px;"} 若未瀏覽過則翻至左/右行
              %span{:style=> "color:red; font-size: 48px;"} 最上頁
            %div{:style=> "float: left; width: 50%;"}
              %img{"data-src"=> "./pic/arrowleft.png"}
            %div{:style=> "float: right; width: 50%;"}
              %img{"data-src"=> "./pic/arrowright.png"}
          %section
            %h2{:style=> "color: orange;"} Fragment Styles
            %p
              %span{:class=> "fragment"} 分  
              %span{:class=> "fragment"} 段  
              %span{:class=> "fragment"} 出  
              %span{:class=> "fragment"} 現
            %p{:class=> "fragment grow"} 變大
            %p{:class=> "fragment shrink"} 變小
            %p{:class=> "fragment fade-out"} 消失
            %p{:class=> "fragment current-visible"} 目前可見
            %p{:class=> "fragment highlight-red"} 字體變紅
            %p{:class=> "fragment highlight-blue"} 字體變藍
          %section{:style=> "background-image:url(https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10374456_10204215391095942_8788258423042005557_n.jpg?oh=9c71f4c2d0901d331dd99137bd6b5eda&oe=56FC9914);"}
            %h1{:style=> "color: orange;"} Image background
            %p{:style=> "font-size: 72px; color: black;"} 我是小黑蛋
            %p{:style=> "font-size: 72px; color: black;"} 我最喜歡分數打很高
            %p{:style=> "font-size: 72px; color: black;"} 沒有很多問題的爸爸
            %p{:style=> "font-size: 72px; color: black;"} 啾咪><
          %section{:style=> "background-image:url(http://4.bp.blogspot.com/-Ey3jc-66PSs/VPcGp3H1XRI/AAAAAAAAEEA/09E2tZ85SEs/s1600/4.gif);"}
            %h1{:style=> "color: orange;"} GIF Backgrounds
            %p{:style=> "font-size: 72px; color: blue;"} 以GIF動圖
            %p{:style=> "font-size: 72px; color: blue;"} 當作
            %p{:style=> "font-size: 72px; color: blue;"} background-image
            %p{:style=> "font-size: 72px; color: blue;"} 顯示
          %section
            %h2{:style=> "color: orange;"} insert video
            %video{ controls: "", name: "media", width: "50%", height: "50%"}
              %source{src: "joke.mp4", type: "video/mp4"}
          %section 
            %h2{:style=> "color: orange;"} show code
            %div{:style=>"float: right; width: 75%; font-size: 60px;"}
              %pre
                %code
                  =preserve do
                    :escaped
                      #include <iostrem>
                      using namespace std;
                      int main(){
                        cout<< "hello world";
                      }
          %section
            %h2{:style=> "color: orange;"} list 型態
            %div{:style=> "float: left; width: 50%;"}
              %ul
                %li 看看
                %li 這是個沒有數字的list
            %div{:style=> "float: right; width: 50%;"}
              %ol
                %li 看看
                %li 這就有了吧
          %section
            %h2{:style=> "color: orange;"} 表格
            %table
              %thead
                %tr
                  %th number
                  %th item
                  %th price
              %tbody
                %tr
                  %td 1
                  %td chocolate
                  %td $500
                %tr
                  %td 2
                  %td lamp
                  %td $1500
                %tr
                  %td 3
                  %td fan
                  %td $100
          %section
            %h2{:style=> "color: orange;"} 演講者視角
            %div{:style=> "float: left; width: 40%;"}
              %ul
                %li{:style=> "color: red;"} 只有演講者看的到!
                %li 包含js以及time!
                %li 快捷鍵: s
            %div{:style=> "float: right; width: 60%;"}
              %img{"data-src"=> "./pic/speakerview.PNG"}
          %section
            %h2{:style=> "color: orange;"} 黑屏
            %p 快捷鍵: b
          %section
            %h2{:style=> "color: orange;"} view structure
            %p 查看整個簡報的架構
            %p 快捷鍵: esc
          %section
            %h2{:style=> "color: orange;"} change theme
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/black.css'); return false;"} Black
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/white.css'); return false;"} White
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/league.css'); return false;"} League
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/sky.css'); return false;"} Sky
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/beige.css'); return false;"} Beige
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/simple.css'); return false;"} Simple
            %br/
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/serif.css'); return false;"} Serif
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/blood.css'); return false;"} Blood
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/night.css'); return false;"} Night
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/moon.css'); return false;"} Moon
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/solarized.css'); return false;"} Solarized
          %section
            %h2{:style=> "color: orange;"} background transitions
            %a{:href=> "?transition=none#/transitions"} None
            \-
            %a{:href=> "?transition=fade#/transitions"} Fade
            \-
            %a{:href=> "?transition=slide#/transitions"} Slide
            \-
            %a{:href=> "?transition=convex#/transitions"} Convex
            \-
            %a{:href=> "?transition=concave#/transitions"} Concave
            \-
            %a{:href=> "?transition=zoom#/transitions"} Zoom

        %section
          %section
            %h1 github.io
          %section
            %h1 Github.io
            %ul
              %li 提供靜態網頁空間
              %li XXXXX.github.io

        %section
          %section
            %h1 faced problem
          %section
            %h1 Problem
            %ol
              %li utf-8編碼問題
              %li 字元跳脫問題
              %li 排版不美觀 
        %section
          %section
            %h1 END
            %p Thank you for listening.
          %section
            %h1 Q & A
    %script{:src => "./lib/js/head.min.js"}
    %script{:src => "./js/reveal.js"}
    :javascript
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
      	controls: true,
      	progress: true,
        slideNumber: true,
        center: true,
        keyboard: true,
        overview: true,

        // Bounds for smallest/largest possible scale to apply to content
            minScale: 0.1,
            maxScale: 1.0,

      	transition: 'convex', // none/fade/slide/convex/concave/zoom

      	// Optional reveal.js plugins
      	dependencies: [
      		{ src: './lib/js/classList.js', condition: function() { return !document.body.classList; } },
      		{ src: './plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      		{ src: './plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      		{ src: './plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
      		{ src: './plugin/zoom-js/zoom.js', async: true },
      		{ src: './plugin/notes/notes.js', async: true }
      	]
      });
