!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Pairings
    %meta{:content => "A framework for easily creating beautiful presentations using HTML", :name => "description"}/
    %meta{:content => "Hakim El Hattab", :name => "author"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui", :name => "viewport"}/
    %link{:href => "./css/reveal.css", :rel => "stylesheet"}/
    %link#theme{:href => "./css/theme/Black.css", :rel => "stylesheet"}/
    / Code syntax highlighting
    %link{:href => "./lib/css/zenburn.css", :rel => "stylesheet"}/
    / Printing and PDF exports
    :javascript
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? './css/print/pdf.css' : './css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    /[if lt IE 9]
      <script src="lib/js/html5shiv.js"></script>
  %body
    .reveal
      / Any section element inside of this container is displayed as a slide
      .slides
        %section
          %section
            %h1{:style=> "text-align: center; color: white;"} REVEAL.JS
            %br
            %p{:style => "text-align: left; font-size: 30px; line-height: 10px;"} Team Members: 林良憲、郭至煜、謝佳恩
            %p{:style => "text-align: left; font-size: 30px; line-height: 10px;"} Adviser: 林楚迪
            %p{:style => "text-align: left; font-size: 30px; line-height: 10px;"} Data: 2016/01/06
          %section
            %h2{:style=> "color: orange;"} 
              introduction
            %ol
              %li Html
              %li Haml
              %li Reveal.js
              %li Github.io
              %li Faced Problem 
          %section
            %h1 setting
            %a{:href=> "?transition=none#/transitions"} None
            \-
            %a{:href=> "?transition=fade#/transitions"} Fade
            \-
            %a{:href=> "?transition=slide#/transitions"} Slide
            \-
            %a{:href=> "?transition=convex#/transitions"} Convex
            \-
            %a{:href=> "?transition=concave#/transitions"} Concave
            \-
            %a{:href=> "?transition=zoom#/transitions"} Zoom
            %p
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/black.css'); return false;"} Black
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/white.css'); return false;"} White
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/league.css'); return false;"} League
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/sky.css'); return false;"} Sky
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/beige.css'); return false;"} Beige
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/simple.css'); return false;"} Simple
            %br/
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/serif.css'); return false;"} Serif
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/blood.css'); return false;"} Blood
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/night.css'); return false;"} Night
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/moon.css'); return false;"} Moon
            \-
            %a{:href=> "#", :onclick => "document.getElementById('theme').setAttribute('href','./css/theme/solarized.css'); return false;"} Solarized
        %section
          %section
            %h1 Html
          %section
            %h1 Html
            %ul
              %li 
                由許多標籤組合
              %li 
                段落組成 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                 &#060; p &#062; ... &#060; /p &#062;
              %li 
                超連結   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &#060; a &#062; ... &#060; /a &#062;
              %li 
                標題     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &#060; h1 &#062; ... &#060; /h1 &#062;   
              %li 
                有數字的目錄  &nbsp;&nbsp;  &#060; ol &#062; ... &#060; /ol &#062;
              %li 
                無數字的目錄  &nbsp;&nbsp;  &#060; ul &#062; ... &#060; /ul &#062;
              %li 
                目錄中的選項  &nbsp;&nbsp;  &#060; li &#062; ... &#060; /li &#062;
        %section
          %section 
            %h1 haml
          %section
            %h1 Haml
            %ul{:style=> "text-align: left;"}
              %li 
                以Ruby環境寫出
              %li 
                優點: 快速編寫html
              %li
                技巧 
                %ol 
                  %li 
                    利用縮排
                  %li 
                    利用%代替<>
        %section
          %section
            %h1 reveal.js
          %section
            %h1 reveal.js
            %ul
              %li 
                It's free (open source)
              %li 
                提供比ppt更多樣化的捲動方式(轉場效果)
              %li
                講者可以更節省時間的在投影片上顯示出編排的很漂亮的程式片段
              %li
                就是用Html來做網頁式的簡報!
          
        %section
          %section
            %h1 github.io
          %section
            %h1 Github.io
            %ol
              %li 提供靜態網頁空間
              %li XXXXX.github.io (XXXX為檔案在github上的檔名)

        %section
          %section
            %h1 faced problem
          %section
            %h1 Problem
            %ol
              %li utf-8編碼問題
              %li 字元跳脫問題
              %li 排版不美觀 
        %section
          %section
            %h1 Q & A
          %section
            %h1 END
            %p Thank you for listening.
    %script{:src => "./lib/js/head.min.js"}
    %script{:src => "./js/reveal.js"}
    :javascript
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
      	controls: true,
      	progress: true,
        slideNumber: true,
        center: true,
        keyboard: true,
        overview: true,

        // Bounds for smallest/largest possible scale to apply to content
            minScale: 0.1,
            maxScale: 1.0,

      	transition: 'convex', // none/fade/slide/convex/concave/zoom

      	// Optional reveal.js plugins
      	dependencies: [
      		{ src: './lib/js/classList.js', condition: function() { return !document.body.classList; } },
      		{ src: './plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      		{ src: './plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      		{ src: './plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
      		{ src: './plugin/zoom-js/zoom.js', async: true },
      		{ src: './plugin/notes/notes.js', async: true }
      	]
      });
